.content-wrapper,
.right-side {
  background-color: #ffffff;
}

.leaflet-top.leaflet-right {
  z-index: 1;
}

.leaflet-top.leaflet-left {
  z-index: 1;
}

#hex-map {
  background-color: #FFFFFF;
}

#geo-map {
  background-color: #FFFFFF;
}

.main-header .logo {
  font-size: 11pt;
}
